//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.01 Education (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Tue 06 24 00:03:37 2025

IO_LOC "CLK_27MHZ" 4;
IO_PORT "CLK_27MHZ" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "RST_BTN_N" 88;
IO_PORT "RST_BTN_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "BL616_UART_RX" 69;
IO_PORT "BL616_UART_RX" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "BL616_UART_TX" 70;
IO_PORT "BL616_UART_TX" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "LED0" 15;
IO_PORT "LED0" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED1" 16;
IO_PORT "LED1" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED2" 17;
IO_PORT "LED2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED3" 18;
IO_PORT "LED3" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;






